PLAID_CLIENT_ID=your_client_id_here
PLAID_SECRET=your_sandbox_secret_here
PLAID_ENV=sandbox

PLAID_INSTITUTION_ID=ins_109508

PLAID_USER_1_USERNAME=custom_user_debt_spiral
PLAID_USER_1_LABEL=User Debt Spiral

PLAID_USER_2_USERNAME=custom_user_middle_income_no_savings
PLAID_USER_2_LABEL=User Middle Income No Savings

PLAID_USER_3_USERNAME=custom_user_high_income_no_savings
PLAID_USER_3_LABEL=User High Income No Savings

OPENAI_API_KEY=your_openai_api_key_here
ANTHROPIC_API_KEY=your_anthropic_api_key_here

HF_TOKEN=your_hf_token_here